@{
  Layout = "_Layout";
}

@model Market.Models.Flavor

<h2>Add a sweet</h2>

<h4>Add a sweet to this task: @Html.DisplayFor(model => model.Details)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select sweet")
  @Html.DropDownList("SweetId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>