@{
  Layout = "_Layout";
}

@model Market.Models.Sweet

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add new sweet" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all sweets", "Index")</p>